body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Open Sans";
  margin: 0;
}

.timer {
  font-size: 36px;
  font-weight: 300;
}

.container {
  width: 100%;
  right: 0;
  top: 0;
  justify-content: center;
  height: 100%;
  align-items: center;
  -webkit-align-items: center;
  position: absolute;
  display: -moz-box;
  display: -moz-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  bottom: 0;
  -webkit-justify-content: center;
  left: 0;
}