body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Open Sans";
  margin: 0;
}

.timer {
  font-size: 36px;
  font-weight: 300;
}

.container {
  width: 100%;
  right: 0;
  top: 0;
  justify-content: center;
  height: 100%;
  align-items: center;
  -webkit-align-items: center;
  position: absolute;
  display: -moz-box;
  display: -moz-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  bottom: 0;
  -webkit-justify-content: center;
  left: 0;
}

.nagger {
  width: 300px;
}

.clock-container {
  position: relative;
  width: 100%;
}

.clock-container .clock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.clock-container .clock h1, .clock-container .clock h2 {
  margin: 0;
}

.polar-loader {
  width: 100%;
  height: 300px;
}

.polar-loader .loader-elem {
  stroke: #aa0808;
  fill: transparent;
}

.polar-loader .loader-elem.track {
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

.polar-loader .loader-elem.progress {
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}